*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black ;
    display: flex;
    place-items: center;
    /* height: 100%;
    width: 100%; */
    min-height: 100vh;
}

main{
    display: grid;
    /* place-content: center; */
    
     /* gap: 1.5rem;
     grid-template-columns: 1fr 1fr 1fr; */
     grid-template-areas: 
     'a a b e'
     'c d d e'
    
     ;
     grid-template-columns: 100px 100px 100px 100px;
     grid-template-rows: 100px 90px 120px 100px;
     gap: 1rem;
     padding: 20px;
     /* justify-content: center; */
     margin: auto;
    

}


.item-a{
    background-color: #dd4236;
    grid-area: a;
    
}

.item-b{
    background-color:yellow;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;

}
.item-d{
   background-color: blue;
   grid-area: d;
   
   
}
.item-e{
    background-color: blue;
    grid-area: e;
}
