*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    .container{
        display: flex;
        background-color:  hsl(0, 0%, 95%);
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-flow: row wrap;
        font-size: 15px;
    
    }
     


p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px;
    font-size: 15px;
    line-height: 20px;

}
h2{
   color: hsl(0, 0%, 95%); 
   font-family: 'Big Shoulders Display', cursive;
   margin: 20px;
   font-size: 25px;
   
}


.first-box{
    background-color:  hsl(31, 77%, 52%);
    width: 270px;
    height: 400px;
    padding: 20px;
    
    
}
.btn-1{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    padding: 10px;
    border-color: white;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 70px;
   
}

.second-box{
    background-color: hsl(184, 100%, 22%);
    width: 270px;
    height: 400px;
   padding: 20px;
    
    
}
.btn-2{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    padding: 10px;
    border-color: white;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 70px;
}

.third-box{
    background-color: hsl(179, 100%, 13%);
    width: 270px;
    height: 400px;
    padding: 20px;
 
}
.btn-3{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    padding: 10px;
    border-color: white;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 70px;

}
.btn-3:hover{
    background-color: red;
}
footer{
    text-decoration: none;
    color: black;
    
  
}
footer p{
    color: black;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;;
}
@media screen and (max-width:1440px) and (min-width:375px){
    .container{
        display: flex;
        background-color:  hsl(0, 0%, 95%);
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-flow: row wrap;
        font-size: 15px;
    
    }
}